.Editor > section
{
    margin-bottom: 40px;
    padding: 10px;
}
   
.Editor > section > h4
{
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
   
.Editor > section > input, textarea
{
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 20px;
    margin: 5px;
}

.Editor > section > .contentsTitle_input
{
    width: 380px;
}

.Editor > section > .author_input
{
    width: 100px;
}

input::placeholder,
textarea::placeholder
{
    font-size: 12pt;
}

hr
{
    height:1px;
    border:0;
    background-color: rgb(236, 236, 236);
    margin-top: 10px;
}
   
.Editor > section > textarea
{
    padding: 20px;
    width: 570px;
    min-height: 200px;
    resize: vertical;
    box-sizing: border-box;
}
   
.Editor .emotion_section .emotion_list_wrapper
{
    display: flex;
    justify-content: space-around;
    gap: 2%;
}

.Editor .button_section
{
    display: flex;
    justify-content: space-between;
}

.Editor > .date_section
{
    margin-bottom: -19px;
}